{{define "hotel"}}
    <h2>{{.Name}}</h2>
    {{.Address}}, {{.City}} {{.Zip}}<br/>
    {{.Region}}<br/>
{{end}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
    {{template "hotel" .}}
{{end}}
</body>
</html>